*,
*::after,
*::before {
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
  color: unset;
}

button {
  font-family: 'DM Sans', sans-serif;
  cursor: pointer;
  border: 0;
  background-color: unset;
}
